[Desktop Entry]
Version=1.0
Name=Firefox boomfunk
GenericName=Web Browser
Exec=sh -c "i3-msg 'workspace number \"7:    mc\"'; /usr/lib/firefox/firefox -P boomfunk"
Icon=firefox
Terminal=false
X-MultipleArgs=false
Type=Application
StartupWMClass=firefox
Categories=Network;WebBrowser;
