[Desktop Entry]
Version=1.0
Name=Profile Firefox inco
GenericName=Web Browser
Exec=/usr/lib/firefox/firefox -P inco
Icon=firefox
Terminal=false
X-MultipleArgs=false
Type=Application
StartupWMClass=firefox
Categories=Network;WebBrowser;
